<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.LaptopMapper">
    <select id="getAll" resultType="data.entity.Laptop">
        select * from laptop_details
    </select>

    <insert id="add" parameterType="data.entity.Laptop">
        insert into laptop_details (name, price, producer, brand, model, tag)
        values
        (#{name}, #{price}, #{producer}, #{brand}, #{model}, #{tag})
    </insert>
</mapper>