<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="data.mapper.OrderMapper">
    <select id="getAllRelation" resultType="java.util.Map">
        SELECT
            ld.name,
            ld.brand,
            ld.model,
            ob.mount,
            ld.price,
            ( ob.mount * ld.price ) AS "totalPrice",
            ob.time
        FROM
            order_business ob
            LEFT JOIN laptop_details ld ON ob.laptop_id = ld.id
            LEFT JOIN USER us ON ob.user_id = us.id
    </select>

    <insert id="add" parameterType="data.entity.Order">
        insert into order_business (laptop_id, user_id, mount) values (#{laptop_id}, #{user_id}, #{mount})
    </insert>

</mapper>